*{
	font-family: 'Noto Sans Tagbanwa', sans-serif;
}

:root {
	--bg-navbar: #BAD7E9;
	--textjudul: #ffb84c;
	--textungu : #A459D1;
}

body {
	min-height: 5000;
}

/*NAVBAR*/
.navbar {
	background: var(--bg-navbar);
}

.navbar .navbar-brand {
	color: var(--textjudul);
	font-size: 20px;
	font-weight: 700;
}

.navbar .navbar-brand span {
	color: var(--textungu);
}

a.btn-second {
	padding: 12px 24px;
	color: var(--textjudul);
	border-radius: 8px;
	border: 1px solid var(--textjudul);
}

a.btn-second:hover {
	background: var(--textjudul);
	color: #fff;
	border: 1px solid var(--textjudul);
	transition: 1s;
}

a.btn-first {
	padding: 12px 24px;
	background: var(--textjudul) ;
	border-radius: 8px;
	color: #fff;
}

a.btn-first:hover {
	background: var(--textjudul);
	color: #fff;
	transition: 1s;
}

.navbar .nav-item i {
	font-size: 25px;
}

.navbar .input-group {
	width: 50%;
}

/*ATUR RESPONSIF*/
@media (max-width:960px) {
	.navbar .input-group {
		width: 100%;
	}
}

/*MENU WRAPPER*/
.menu-wrapper {
	margin-top: 120px;
}

.menu-wrapper a {
	margin: 0 20px;
}

/*CAROSEL*/
.header {
	margin-top: 180px;
}

@media (max-width: 820px) {
	.header {
		margin-top: 100px;
	}
}

/*POPULER*/
.populer {
	margin-top: 100px;
}

.populer .title,
.price {
	color: var(--textungu);
	font-weight: 700;
	font-size: 20px;
}
/*
@media (max-width: 576px) {
	.populer .title,
	.price {
		font-size: 15px;
	}*/
}

.populer .rating i {
	font-size: 20px;
	color: var(--textjudul);
}

.populer .btn-cart {
	padding: 8px 10px;
	background-color:  var(--textungu);
	border-radius: 8px;
	color: #fff;
}

/*@media (max-width: 576px) {
	.populer .btn-cart {
		padding: 5px 5px;
	}
}
*/
.populer .btn-cart:hover {
	background-color: var(--textjudul);
	transition: 1s;
}

.populer .btn-cart i {
	font-size: 25px;
}

/*SUSCRIBE*/
.suscribe {
	margin-top: 100px;
}

.suscribe .container {
	background-image: url(../img/baner.jpeg);
	background-size	: cover;
	background-position: center center; 
	background-repeat: no-repeat;
	border-radius: 50px;
}

.suscribe .container .col-sub {
	padding: 120px 0;
}

/*/TESTIMONI/*/
.testimoni {
	margin-top: 100px;
}

.testimoni .card {
	position: relative;
	border: 2px solid var(--textjudul);
	border-radius: 10px;
}

.testimoni .card img {
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
}

.testimoni .card i {
	position: absolute;
	top: -40px;
	right: 50px;
	font-size: 70px;
	color: var(--textungu);
}

/*FOOTER*/
footer {
	margin-top: 100px;
	background-color: var(--bg-navbar);
}

footer .row-content,
h1 .logo-brand {
	font-size:  30px;
	color: var(--textjudul);
}

footer .row-content,
 h1.logo-brand span {
color: var(--textungu);
}

footer .row-content,
.logo-brand h3 {
	font-size: 15px;
	color: #000;
}

footer .row-content {
	list-style: none;
}

footer .row-copy i {
	font-size: 25px;
	color: var(--textjudul);
}














@media screen and (max-width: 576px) {
	.populer .btn-cart i {
		font-size: 15px;
	}

	.populer .btn-cart {
		padding: 5px 5px;
	}

	.populer .title,
	.price {
		font-size: 15px;
	}
}